DATABASE_URL="postgresql://postgres:sheger@localhost:5432/sheger_business?schema=public"
ADMIN_PASSWORD=ShegerAdmin@2026
ADMIN_SECRET=sheger-cms-secret-change-me
PORT=3001
CMS_FRONT_ORIGIN=http://localhost:3002
WEBSITE_ORIGIN=http://localhost:3000
PUBLIC_ASSET_URL=http://127.0.0.1:3001
CORS_ORIGINS=
