DATABASE_URL="postgresql://postgres:sheger@localhost:5432/sheger_business?schema=public"
ADMIN_PASSWORD=ShegerAdmin@2026
ADMIN_SECRET=sheger-cms-secret-change-me
PORT=3001
CMS_FRONT_ORIGIN=http://10.0.102.57:3002
WEBSITE_ORIGIN=http://196.189.119.89:3000
PUBLIC_ASSET_URL=http://196.189.119.89:3001
CORS_ORIGINS=http://196.189.119.89:3000,https://196.189.119.89:3000,https://shegerbusinessgroup.com,http://10.0.102.57:3002
